// components/AboutUs.module.scss

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;400&display=swap");

$color-white: #fafafa;
$color-off-white: #dfdfdf;
$color-gray: darken($color-white, 50%);
$color-black: #000;
$font-copy: "Montserrat", sans-serif;
$font-title: "Anton", sans-serif;

$screen-lg: 920px;
$screen-md: 760px;
$screen-sm: 580px;
$screen-xsm: 370px;

@mixin respond($screen-size) {
  @media only screen and (max-width: $screen-size) {
    @content;
  }
}

.body {
  min-height: 100vh; // Set the minimum height to fill the viewport
  font-family: $font-copy;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
  color: $color-off-white;
  background-color: black;
}

.container {
  max-width: 100vw; // Set the maximum width to fill the viewport
  margin: 0; // Remove any default margins
  padding: 0; // Remove any default paddings
  padding: 0 6rem; // Add padding as needed
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 0 6rem 0;

  @include respond($screen-sm) {
    padding-bottom: 2rem;
  }

  &__list {
    display: flex;
    gap: 16rem;
    list-style: none;

    @include respond($screen-lg) {
      gap: 6rem;
    }

    @include respond($screen-sm) {
      gap: 4rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    transition: color 0.2s ease;

    &:hover {
      color: darken($color-white, 40%);
    }

    &--active {
      color: darken($color-white, 60%);

      &:hover {
        color: darken($color-white, 60%);
      }
    }
  }

  &__copy {
    @include respond($screen-sm) {
      display: none;
    }
  }
}

.page-title {
  // ... (previous styles)
  font-size: 16rem;
  line-height: 16rem;
  color: black;
  margin-bottom: 8rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  // background-color: #155e5d;
  color: black;

  &__text {
    font-size: 15px;
    line-height: 2;
  }

  @include respond($screen-md) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  &__descriptor {
    width: 14%;
    border-top: 1px solid $color-gray;
    padding-top: 4rem;

    @include respond($screen-md) {
      width: 100%;
      padding: 2rem 0;
      border-top: none;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 400;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
    width: 50%;
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
    margin-right: 10rem;
    padding: 4rem 0;

    @include respond($screen-lg) {
      margin-right: 0;
    }

    @include respond($screen-md) {
      width: 100%;
      padding: 2rem 0;
    }

    @include respond($screen-sm) {
      border-bottom: none;
    }
  }

  &__text {
    width: px;

    @include respond($screen-sm) {
      width: 100%;
    }
  }
}

.content1 {
  display: flex;
  justify-content: space-between;
  line-height: 5;
  align-items: flex-start;
  // background-color: #155e5d;
  color: black;

  @include respond($screen-md) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  &__text {
    width: 320px;

    @include respond($screen-sm) {
      width: 100%;
    }

    @include respond($screen-sm) {
      font-size: 5rem; /* Adjust font size for small screens */
    }
  }

  &__descriptor {
    width: 14%;
    border-top: 1px solid $color-gray;
    padding-top: 4rem;

    @include respond($screen-md) {
      width: 100%;
      padding: 2rem 0;
      border-top: none;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
    width: 50%;
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
    margin-right: 10rem;
    padding: 4rem 0;

    @include respond($screen-lg) {
      margin-right: 0;
    }

    @include respond($screen-md) {
      width: 100%;
      padding: 2rem 0;
    }

    @include respond($screen-sm) {
      border-bottom: none;
    }
  }

  &__text {
    width: 320px;

    @include respond($screen-sm) {
      width: 100%;
    }
  }
}
