.intro {
  background: #f45b69;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.h1 {
  font-size: 2.5rem;
}

.timeline ul {
  background: #456990;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: white
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent white transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent white;
}

.time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: white;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.timeline ul li div {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent white transparent transparent;
  }
}

.page-footer {
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: black;
  background: rgba(255, 255, 255, 0.65);
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}

  


  
  .h1 {
    font-family: var(--font-title);
    letter-spacing: 1.5px;
    color: var(--color-light);
    font-weight: 100;
    font-size: 2.4em;
  }
  
  #content {
    margin-top: var(--spacing);
    text-align: center;
  }
  
  /* Timeline */
  .timeline {
    border-left: var(--line) solid var(--color-primary);
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background: rgba(var(--color-light), 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--font-text);
    margin: var(--spacing) auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: var(--spacing);
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
  }
  
  .timeline h1,
  .timeline h2,
  .timeline h3 {
    font-family: var(--font-title);
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }
  
  .timeline .event {
    border-bottom: 1px dashed rgba(var(--color-light), 0.1);
    padding-bottom: calc(var(--spacing) * 0.5);
    margin-bottom: var(--spacing);
    position: relative;
  }
  
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline .event:before {
    left: calc((var(--date) * 0.6) + var(--spacing) + var(--line) + var(--dot) + (var(--dotborder) * 2)) * -1);
    color: rgba(var(--color-light), 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: var(--date);
  }
  
  .timeline .event:after {
    box-shadow: 0 0 0 var(--dotborder) rgba(var(--color-primary), 1);
    left: calc(var(--spacing) + var(--line) + (var(--dot) * 0.35)) * -1);
    background: lighten(var(--background), 5%);
    border-radius: 50%;
    height: var(--dot);
    width: var(--dot);
    content: "";
    top: 5px;
  }
  
  .arrow {
    /* Add your arrow styles here */
  }
  